.app{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
  gap: 60px;
  max-width: 1600px;
  margin: 0 auto;
}

.left, .right{
  flex: 1;
  max-width: 550px;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  padding-top: 20px; 
  min-width: 420px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 50px;
}

.profile-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(./image.png);
  background-size: cover;
  background-position: center;
  border: 3px solid white;
}

h1{
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 6px;
}

.subtitle {
  opacity: 0,7;
  margin-bottom: 30x;
}

h2 {
  font-size: 22px;
  margin: 30px 0 12;
  font-weight: 600;
}

.skill-item{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 18px 0;
}

.progress {
  width: 100%;
  height: 30px;
  background: #252525;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.progressview {
  height: 100%;
  background: linear-gradient(90deg, #665cff, #ff73ce);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 25px;
}

.progress-label {
  color:white;
  font-size: 12px;
  font-weight: 600;
  text-shadow: 0px 0px 4px black;
}